.dropdown {
  border-radius: 10px;
  border: 1px solid red;
  background-color: #f6f6f6;
  color: #fff;
  font-size: 14px;
  position: relative;
  min-height: 100px;
  overflow: hidden;
  margin: 10px;
  .dropTitle {
    border-radius: 10px;
    background-color: #ff6060;
    line-height: 52px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .dropContent {
    color: #ff6060;
    padding: 10px;
    ul {
      margin-block-start: 0;
      margin-block-end: 0;
      padding-inline-start: 0;
    }
    li {
      list-style: none;
    }
  }
}
