.tag {
  border-radius: 10px;
  background-color: #ff6060;
  color: #fff;
  font-size: 14px;
  line-height: 20px;
  padding: 0 20px;
  margin: 5px 5px 5px 0;
  display: inline-block;
  @media all and (max-width: 750px) {
    font-size: 10px;
    border-radius: 5px;
  }
}
