.block {
  &.withPadding {
    padding: 25px;
  }
  &.twoCols {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    & > * {
      flex: 50%;
      &:first-child {
        margin-left: 0;
      }
      &:nth-child(2) {
        margin-right: 0;
      }
    }
  }
  @media all and (max-width: 750px) {
    &.withPadding {
      padding: 0;
    }
    &.twoCols {
      flex-direction: column;
      & > * {
        margin-left: 0px;
        margin-right: 0px;
      }
    }
    &.special {
      display: flex;
      justify-content: space-between;
      flex-direction: row-reverse;
    }
  }
  @media all and (max-width: 450px) {
    &.special {
      flex-direction: column-reverse;
      .ratingStars,
      .author {
        justify-content: flex-start;
        .text {
          text-align: left;
        }
      }
    }
  }
}
