.block {
  &.withPadding {
    padding: 25px;
  }
  &.twoCols {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    & > * {
      flex: 50%;
      &:first-child {
        margin-left: 0;
      }
      &:nth-child(2) {
        margin-right: 0;
      }
    }
  }
}
