@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500&display=swap");

body {
  font-family: "Montserrat", sans-serif;
}

.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

}

.layout .content {
  flex-grow: 1;
}
