.ratingStars {
  display: flex;
  justify-content: flex-end;
  button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    &.active {
      path {
        fill: #ff6060;
      }
    }
    &.disabled {
      path {
        fill: #e3e3e3;
      }
    }
  }
  @media all and (max-width: 750px) {
    justify-content: flex-start;
    button {
      padding: 1px 3px;
      svg {
        height: 13px;
        width: 13px;
      }
    }
  }
}
