.greyBlock {
  border-radius: 25px;
  background-color: #f6f6f6;
  padding: 25px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;

  @media all and (max-width: 750px) {
    background-color: transparent;
    padding: 0;
  }
  @media all and (max-width: 879px) {
    justify-content: space-between;

  }


}
