@mixin arrow-style {
  z-index: 1;
  cursor: pointer;
}

.gallery {
  border-radius: 25px;
  overflow: hidden;
  margin-bottom: 20px;
  position: relative;
  height: 415px;
  background-color: grey;

  .galleryContainer {
    position: absolute;
    top: calc(50% - 40px);
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .imgGalleryStyle {
    background-size: cover;
    //object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .leftArrowStyles {
    @include arrow-style;
  }

  .rightArrowStyles {
    @include arrow-style;
    svg {
      position: relative;
      right: 10px;
    }
  }
  .galleryPager {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    color: white;
    font-weight: 500;
    font-size: 18px;
  }
  @media all and (max-width: 750px) {
    border-radius: 10px;
    height: 255px;
    .galleryContainer {
      top: calc(50% - 10px);
    }
    .leftArrowStyles,
    .rightArrowStyles {
      svg {
        height: 20px;
      }
    }
    .galleryPager {
      display: none;
    }
  }
}
